<<!DOCTYPE html>
<html>
<head>
	<title>Aadhar</title>
</head>
<body>
	<p>Aadhar portal</p>
	<form method="post" action="/addfile">
		<p1>Aadhar Number: </p1><input id="aadhar_id" type="number" name="aadhar_id" maxlength=12 required="required"><br><br>
		<p1>Front :</p1>
		<input id="img1" type="file" name="front" accept="image/*" required="required"><br><br>
		<p1>Back :</p1>
		<input id="img2" type="file" name="back" accept="image/*" required="required"><br><br>
		<button id="fileSubmit" type="submit">Submit</button>
	</form>
</body>
</html>