<!DOCTYPE html>
<html>
<head><link rel="stylesheet"href="/stylesheets/style.css"></head>
<h1 align="center" style="color:solid #50d8a4;">KYC VERIFICATION</h1>
<body>	
	<h2>Choose an ID to be verified</h2><br><br>
    <form method="post" action="/upload">
        <select name='selectpicker'>
            <option value="0">AADHAR CARD</option>
            <option value="1">PAN CARD</option>
            <option value="2">DRIVING LICENSE</option>
            <option value="3">PASSPORT</option>
        </select>
        <button id="btnSubmit" type="submit">Submit</button>
    </form>
</body>
</html>