<<!DOCTYPE html>
<html>
<head>
	<title>Passport</title>
</head>
<body>
	<p>Passport portal</p>
	<form method="post" action="/selfie">
		<p1>Passport Number: </p1><input id="aadhar_id" type="number" name="aadhar_id" maxlength=12 required="required"><br><br>
		<p1>Front :</p1>
		<input id="img1" type="file" name="front" accept="image/*" required="required"><br><br>
		<button id="fileSubmit" type="submit">Submit</button>
	</form>
</body>
</html>